<div class = "complete">
<h1>Edit Doctor
    <span>Update the fields you want to be changed.</span>
</h1>

<%= render 'form' %>

<%= link_to 'Show', @doctor %> |
<%= link_to 'Back', doctors_path %>
</div>